Repository geops/react-transit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

fixed stopfinder with options
  src/components/Search/engines/StopFinder.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Up libs
  package.json
  yarn.lock
Due: none

Up libs
  src/styleguidist/styleguidist.css
  src/themes/default/variables.scss
Due: stylelint --fix

Update libs (#238)
  package.json
  src/styleguidist/styleguidist.css
  src/themes/default/variables.scss
  yarn.lock
Due: stylelint --fix

v0.3.0
  package.json
Due: none

Update libs/peerDeps
  package.json
  yarn.lock
Due: none

Change new map classname from react-spatial
  src/components/RouteSchedule/RouteSchedule.md.scss
  src/styleguidist/styleguidist.css
  src/themes/default/examples.scss
Due: stylelint --fix

Update package.json
  package.json
Due: none

Update yarn.lock
  yarn.lock
Due: none

Lucien/fix demo (#245)
  package.json
  src/components/RouteSchedule/RouteSchedule.md.scss
  src/styleguidist/styleguidist.css
  src/themes/default/examples.scss
  yarn.lock
Due: stylelint --fix

Set initial currentZoom in the TrackerLayer to correctly initialize the style
  src/layers/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update libs
  package.json
  styleguide.config.js
  yarn.lock
Due: none

Set initial currentZoom in the TrackerLayer to correctly initialize the style (#250)
  src/layers/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.3.1
  package.json
Due: none

Add config files
  .dependabot/config.yml
  pull_request_template.md
Due: none

Simplify caching
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update libs
  package.json
  src/components/Clock/Clock.js
  src/components/FilterButton/FilterButton.js
  src/components/FilterButton/FilterButton.test.js
  src/components/FollowButton/FollowButton.js
  src/components/FollowButton/FollowButton.test.js
  src/components/RouteSchedule/RouteSchedule.js
  src/components/Search/Search.js
  src/components/Search/SearchService.js
  src/components/Search/engines/StopFinder.js
  src/components/TrackerControl/TrackerControl.js
  src/config/tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
  src/styleguidist/ComponentsList.js
  src/styleguidist/StyleGuide.js
  src/utils/TimeUtils.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update babel
  package.json
  yarn.lock
Due: none

Fix style cache
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update libs (#266)
  package.json
  src/components/Clock/Clock.js
  src/components/FilterButton/FilterButton.js
  src/components/FilterButton/FilterButton.test.js
  src/components/FollowButton/FollowButton.js
  src/components/FollowButton/FollowButton.test.js
  src/components/RouteSchedule/RouteSchedule.js
  src/components/Search/Search.js
  src/components/Search/SearchService.js
  src/components/Search/engines/StopFinder.js
  src/components/TrackerControl/TrackerControl.js
  src/config/tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
  src/styleguidist/ComponentsList.js
  src/styleguidist/StyleGuide.js
  src/utils/TimeUtils.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add .nvmrc
  .nvmrc
Due: none

Update ol
  package.json
  yarn.lock
Due: none

Update libs
  package.json
  yarn.lock
Due: none

Test meta tag
  public/index.html
Due: none

Downgrade ol for IE 11
  package.json
  public/index.html
  yarn.lock
Due: none

Update ol (#278)
  package.json
  yarn.lock
Due: none

Fix resize of map in example
  package.json
  src/components/RouteSchedule/README.md
  yarn.lock
Due: none

Add TRalis layer
  src/examples/TralisLayer/README.md
  src/images/lines/arrow.url.svg
  src/images/lines/s1kreis.url.svg
  src/images/lines/s1pfeil.url.svg
  src/images/lines/s20kreis.url.svg
  src/images/lines/s20pfeil.url.svg
  src/images/lines/s2kreis.url.svg
  src/images/lines/s2pfeil.url.svg
  src/images/lines/s3kreis.url.svg
  src/images/lines/s3pfeil.url.svg
  src/images/lines/s4kreis.url.svg
  src/images/lines/s4pfeil.url.svg
  src/images/lines/s6kreis.url.svg
  src/images/lines/s6pfeil.url.svg
  src/images/lines/s7kreis.url.svg
  src/images/lines/s7pfeil.url.svg
  src/images/lines/s8kreis.url.svg
  src/images/lines/s8pfeil.url.svg
  src/images/lines/unknown.url.svg
  src/layers/TrackerLayer.js
  src/layers/TralisLayer.js
  src/utils/TralisAPI.js
  src/utils/TralisStyle.js
  src/utils/WebSocketConnector.js
  styleguide.config.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

TrajservLayer: Add setter/getter for apiKey
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Debug the registration of the TrackerLayer's clickCallbacks...
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.3.2-beta.1
  package.json
Due: none

TrajservLayer: Add setter/getter for apiKey (#280)
  package.json
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.3.2
  package.json
Due: none

Add custom property to identify tracker layers
  src/layers/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add public comment to 'isTrackerLayer'
  src/layers/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Lucien/tracker duck type (#282)
  src/layers/TrackerLayer.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.3.3
  package.json
Due: none

upgraded geops docjs
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.js
  prettier --write: any of: src/**/*.js
  yarn test --bail --findRelatedTests: any of: src/**/*.js
  stylelint --fix: any of: src/**/*.{css,scss}
