Repository geops/react-transit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

.lintstagedrc.json:

{
  "src/**/*.js": [
    "eslint --fix",
    "prettier --write",
    "git add",
    "yarn test --bail --findRelatedTests"
  ],
  "src/**/*.{css,scss}": ["stylelint --fix", "git add"]
}

Do not pass a prop as function arg
  src/components/FilterButton/FilterButton.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add FollowButton component in RouteScheduler
  src/components/FollowButton/FollowButton.js
  src/components/FollowButton/FollowButton.scss
  src/components/FollowButton/FollowButton.test.js
  src/components/FollowButton/__snapshots__/FollowButton.test.js.snap
  src/components/FollowButton/index.js
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.test.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  src/images/FollowButton/centerActive.png
  src/images/FollowButton/centerActive.svg
  src/images/FollowButton/centerInactive.png
  src/images/FollowButton/centerInactive.svg
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Style filter and follow button. Add some basic unit tests
  src/components/FilterButton/FilterButton.js
  src/components/FilterButton/FilterButton.scss
  src/components/FilterButton/FilterButton.test.js
  src/components/FilterButton/__snapshots__/FilterButton.test.js.snap
  src/components/FollowButton/FollowButton.js
  src/components/FollowButton/FollowButton.scss
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.scss
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  src/themes/default/components.scss
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Bump versions
  package.json
  yarn.lock
Due: none

update permalink with 'tripnumber' param when click FilterButton
  src/components/FilterButton/FilterButton.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Locate test key for TrajservLayer in examples
  src/components/RouteSchedule/README.md
  src/components/TrackerControl/README.md
  src/layers/README.md
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Locate TrajservLayer in examples and not in layer code
  src/components/RouteSchedule/README.md
  src/components/TrackerControl/README.md
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Split FollowButton & FilterButton from RouteSchedule, use animate to follow
  src/components/FollowButton/FollowButton.js
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.scss
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Fix RouteSchedule Readme.md and snapshot
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.test.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Adapt RouteSchedule Readme style after merge master
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.md.scss
Due: stylelint --fix

v0.1.1-beta.12
  package.json
Due: none

Fix typos in prop 'vehicleType'
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.test.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Always request the complete trajectory highlight, and update only on resolution change, to reduce the request number
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

New FollowButton & FIlterButton icons
  src/images/FilterButton/Filter Deaktiv.svg
  src/images/FilterButton/Filter aktiv.svg
  src/images/FilterButton/filterActive.png
  src/images/FilterButton/filterInactive.png
  src/images/FollowButton/Folgen Deaktiv.svg
  src/images/FollowButton/Folgen aktiv.svg
  src/images/FollowButton/centerActive.png
  src/images/FollowButton/centerActive.svg
  src/images/FollowButton/centerInactive.png
  src/images/FollowButton/centerInactive.svg
Due: none

Update snapshots because of the new icons
  src/components/FilterButton/__snapshots__/FilterButton.test.js.snap
  src/components/FollowButton/__snapshots__/FollowButton.test.js.snap
Due: none

Easing linear to animation
  src/components/FollowButton/FollowButton.js
  src/components/RouteSchedule/README.md
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Use 'apiKey' instead of 'key' param
  src/components/RouteSchedule/README.md
  src/components/TrackerControl/README.md
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Use 'apiKey' instead of 'key' param (#60)
  src/components/RouteSchedule/README.md
  src/components/TrackerControl/README.md
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.13
  package.json
Due: none

Initial trajectory request when starting a Tracker layer or changing visibility
  src/layers/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Small modification for use in tralis
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.js
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
  src/propTypes.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.15
  package.json
Due: none

Abort concurrent request to keep last one only
  src/components/FollowButton/FollowButton.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix tracker.onClick throwing warning onevery click, in RouteSchedule example
  src/components/RouteSchedule/README.md
Due: none

Manage edge case where the current date is some ms before the first time interval
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/propTypes.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Use small time frac to follow train, instead of animation
  src/components/FollowButton/FollowButton.js
  src/components/RouteSchedule/README.md
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add setFilter method on TrackerLayer
  src/components/FilterButton/FilterButton.js
  src/layers/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add TrackerLayer 'getVehicle' method
  src/components/FollowButton/FollowButton.js
  src/layers/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Use SVG for FollowButton and FilerButton
  src/components/FilterButton/FilterButton.js
  src/components/FilterButton/FilterButton.scss
  src/components/FilterButton/__snapshots__/FilterButton.test.js.snap
  src/components/FollowButton/FollowButton.js
  src/components/FollowButton/FollowButton.scss
  src/components/FollowButton/__snapshots__/FollowButton.test.js.snap
  src/images/FilterButton/filterActive.png
  src/images/FilterButton/filterActive.svg
  src/images/FilterButton/filterInactive.png
  src/images/FilterButton/filterInactive.svg
  src/images/FollowButton/centerActive.png
  src/images/FollowButton/centerActive.svg
  src/images/FollowButton/centerInactive.png
  src/images/FollowButton/centerInactive.svg
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Avoid center on trajectory code repetition
  src/components/FollowButton/FollowButton.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Moved URL parameters from trafimage-maps
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Some cleaning
  package.json
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.scss
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Use capital letter for description
  src/components/RouteSchedule/RouteSchedule.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix doc build
  package.json
  src/components/RouteSchedule/RouteSchedule.js
  src/layers/Tracker.js
  styleguide.config.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update src/layers/Tracker.js
  src/layers/Tracker.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Install yarn
  netlify.toml
Due: none

Add yarn.lock
  netlify.toml
  yarn.lock
Due: none

Update function documentation
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Clean Tracker layers
  src/components/RouteSchedule/RouteSchedule.js
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
  src/layers/TrajservLayerOld.js
  src/utils/TimeUtils.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Change the url
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests
