Repository geops/react-transit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

.lintstagedrc.json:

{
  "src/**/*.js": [
    "eslint --fix",
    "prettier --write",
    "git add",
    "yarn test --bail --findRelatedTests"
  ],
  "src/**/*.{css,scss}": ["stylelint --fix", "git add"]
}

Update jest
  package.json
  yarn.lock
Due: none

Fix animate to stations on click
  src/App.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Lint devDeps
  package.json
Due: none

Move RouteSchedule style in examples
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.md.scss
  src/components/RouteSchedule/RouteSchedule.scss
Due: stylelint --fix

Remove filter from the Example
  src/layers/README.md
Due: none

Fix versions (#8)
  package.json
  src/App.js
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.md.scss
  src/components/RouteSchedule/RouteSchedule.scss
  src/layers/README.md
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Update build with last ol
  .babelrc
  .eslintrc.json
  .huskyrc.json
  .lintstagedrc.json
  .prettierrc.json
  .stylelintrc.json
  package.json
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/serviceWorker.js
  src/themes/default/index.scss
  styleguide.config.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Update snapshots
  package.json
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  yarn.lock
Due: none

Add example
  src/components/TrackerControl/README.md
  src/components/TrackerControl/TrackerControl.test.js
  src/components/TrackerControl/__snapshots__/TrackerControl.test.js.snap
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update size on the first renderComplete
  src/layers/Tracker.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix lint
  src/components/Clock/Clock.js
  src/components/LocalClock/LocalClock.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix lint
  package.json
Due: none

v0.1.1-beta.1
  package.json
Due: none

Update yarn-lock
  yarn.lock
Due: none

updated doku
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

updated Dok
  src/layers/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add style and use new backend
  src/components/RouteSchedule/README.md
  src/config/tracker.js
  src/layers/README.md
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
  src/layers/TrajservLayerOld.js
  styleguide.config.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Use trajservlayer
  src/layers/README.md
Due: none

Use textColor
  src/layers/TrajservLayerOld.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Active examples
  styleguide.config.js
Due: none

Lint and format
  src/layers/Tracker.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

updated doku (#10)
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Use beta
  package.json
  yarn.lock
Due: none

Update src/layers/TrackerLayer.js
  src/layers/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update src/layers/TrajservLayerOld.js
  src/layers/TrajservLayerOld.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Up
  src/components/Tracker/TrackerMapboxSource.js
  src/layers/README.md
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Up
  src/layers/TrackerMapboxSource.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Lint
  src/layers/TrajservLayerOld.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Up
  src/layers/README.md
  src/layers/Tracker.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update src/layers/TrajservLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Use new endpoint (#11)
  src/components/RouteSchedule/README.md
  src/config/tracker.js
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
  src/layers/TrajservLayerOld.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

updated Doku
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add possiblity to setVisibility of Tracker Layer, better handling of map.events and destroy
  src/components/RouteSchedule/RouteSchedule.scss
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Add possiblity to setVisibility of Tracker Layer, better handling of map.events and destroy(#14)
  src/components/RouteSchedule/RouteSchedule.scss
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

v0.1.1-beta.2
  package.json
Due: none
