Repository geops/react-transit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

.lintstagedrc.json:

{
  "src/**/*.js": [
    "eslint --fix",
    "prettier --write",
    "git add",
    "yarn test --bail --findRelatedTests"
  ],
  "src/**/*.{css,scss}": ["stylelint --fix", "git add"]
}

Pass station object and not only coordinates onSelect StopFinder (#98)
  src/components/StopFinder/README.md
  src/components/StopFinder/StopFinder.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.24
  package.json
Due: none

Fix time requested
  src/utils/TimeUtils.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.25
  package.json
Due: none

Add yarn build in travis
  .travis.yml
Due: none

Use UTC time string
  src/layers/TrajservLayer.js
  src/utils/TimeUtils.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Allow to pass children to Filter & Follow button
  src/components/FilterButton/FilterButton.js
  src/components/FilterButton/__snapshots__/FilterButton.test.js.snap
  src/components/FollowButton/FollowButton.js
  src/components/FollowButton/__snapshots__/FollowButton.test.js.snap
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Avoid to flood the console if abort often with followButton
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Allow to control filter and follow active from outside
  src/components/FilterButton/FilterButton.js
  src/components/FilterButton/FilterButton.test.js
  src/components/FollowButton/FollowButton.js
  src/components/FollowButton/FollowButton.test.js
  src/components/RouteSchedule/README.md
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Filter button reset filter to previous, not to null on toggle
  src/components/FilterButton/FilterButton.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Name onChange prop of FilterButton & FollowButton
  src/components/FilterButton/FilterButton.js
  src/components/FilterButton/FilterButton.test.js
  src/components/FollowButton/FollowButton.js
  src/components/FollowButton/FollowButton.test.js
  src/components/RouteSchedule/README.md
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix toggle filter fct
  src/components/FilterButton/FilterButton.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Set filter on start to keep url filter when changing layers
  src/components/FilterButton/FilterButton.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Always create Tracker filter when starting a tracker layer
  src/components/FilterButton/FilterButton.js
  src/components/FilterButton/FilterButton.test.js
  src/components/FollowButton/FollowButton.js
  src/components/FollowButton/FollowButton.test.js
  src/components/RouteSchedule/README.md
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Create end use a setSort method for TrackerLayer
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update src/layers/TrackerLayer.js
  src/layers/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Allow to pass children to Filter & Follow button (#115)
  src/components/FilterButton/FilterButton.js
  src/components/FilterButton/FilterButton.test.js
  src/components/FilterButton/__snapshots__/FilterButton.test.js.snap
  src/components/FollowButton/FollowButton.js
  src/components/FollowButton/FollowButton.test.js
  src/components/FollowButton/__snapshots__/FollowButton.test.js.snap
  src/components/RouteSchedule/README.md
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.26
  package.json
Due: none

Avoid default svg icon loaded from src, to avoid different svg loading strategy pb
  src/components/FilterButton/FilterButton.js
  src/components/FilterButton/__snapshots__/FilterButton.test.js.snap
  src/components/FollowButton/FollowButton.js
  src/components/FollowButton/__snapshots__/FollowButton.test.js.snap
  src/components/RouteSchedule/README.md
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix tests for filter and follow
  src/components/FilterButton/FilterButton.test.js
  src/components/FilterButton/__snapshots__/FilterButton.test.js.snap
  src/components/FollowButton/FollowButton.test.js
  src/components/FollowButton/__snapshots__/FollowButton.test.js.snap
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Avoid default svg icon loaded from src, to avoid different svg loadin… (#118)
  src/components/FilterButton/FilterButton.js
  src/components/FilterButton/FilterButton.test.js
  src/components/FilterButton/__snapshots__/FilterButton.test.js.snap
  src/components/FollowButton/FollowButton.js
  src/components/FollowButton/FollowButton.test.js
  src/components/FollowButton/__snapshots__/FollowButton.test.js.snap
  src/components/RouteSchedule/README.md
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update libs
  package.json
  src/utils/TimeUtils.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.27
  package.json
Due: none

Remove usage of Button component from react-spatial.
  src/components/FilterButton/FilterButton.js
  src/components/FollowButton/FollowButton.js
  src/components/TrackerControl/README.md
  src/components/TrackerControl/TrackerControl.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Upgrade dependencies.
  package.json
  yarn.lock
Due: none

Handle button events only for enter key.
  src/components/FilterButton/FilterButton.js
  src/components/FollowButton/FollowButton.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Cleanup Button from react-spatial (#129)
  package.json
  src/components/FilterButton/FilterButton.js
  src/components/FollowButton/FollowButton.js
  src/components/TrackerControl/README.md
  src/components/TrackerControl/TrackerControl.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Show delay if feature is hovered or if delay is above 5mins.
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Show delay if feature is hovered or if delay is above 5mins. (#134)
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Parse javascript-stringify module using babel
  styleguide.config.js
Due: none

v0.1.2-beta.2
  package.json
Due: none

Initial search component based on implementation from trafimage-maps.
  package.json
  src/components/Search/README.md
  src/components/Search/Search.js
  src/components/Search/Search.scss
  src/components/Search/SearchService.js
  src/components/Search/engines/Engine.js
  src/components/Search/engines/StopFinder.js
  src/components/Search/index.js
  src/themes/default/components.scss
  styleguide.config.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Do not use cp -t flag to support MacOS.
  package.json
Due: none

Remove StopFinder component replaced by Search component.
  src/components/StopFinder/README.md
  src/components/StopFinder/StopFinder.js
  src/components/StopFinder/StopFinder.md.scss
  src/components/StopFinder/StopFinder.scss
  src/components/StopFinder/index.js
  src/themes/default/examples.scss
  styleguide.config.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Add initial snapshot test for Search component.
  src/components/Search/Search.test.js
  src/components/Search/__snapshots__/Search.test.js.snap
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Make delay style configurable with option param 'delayDisplay'
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Make delay style configurable with option param 'delayDisplay' (#144)
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.2-beta.3
  package.json
Due: none

Update lib
  package.json
  yarn.lock
Due: none

Transform coordinates to map projection.
  src/components/Search/README.md
Due: none
