Repository geops/react-transit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

.lintstagedrc.json:

{
  "src/**/*.js": [
    "eslint --fix",
    "prettier --write",
    "git add",
    "yarn test --bail --findRelatedTests"
  ],
  "src/**/*.{css,scss}": ["stylelint --fix", "git add"]
}

Fix lint
  package.json
  src/App.test.js
  src/index.css
  src/serviceWorker.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Adds fetchTrajectory() function.
  src/components/Tracker/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add Clocks components
  src/components/Clock/Clock.js
  src/components/Clock/index.js
  src/components/LocalClock/LocalClock.js
  src/components/LocalClock/index.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add DatePicker
  package.json
  src/App.js
  src/components/Tracker/Tracker.js
  src/components/Tracker/TrackerLayer.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add good url
  src/components/Tracker/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Use brosicode strategy for update of trajectories
  package.json
  src/App.js
  src/App.scss
  src/components/Clock/Clock.js
  src/components/LocalClock/LocalClock.js
  src/components/Tracker/Tracker.js
  src/components/Tracker/TrackerLayer.js
  src/components/TrackerControl/TrackerControl.js
  src/components/TrackerControl/index.js
  src/config/tracker.js
  src/index.css
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Use multiple time intervals
  src/components/Tracker/Tracker.js
  src/components/Tracker/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add stop interval
  src/components/Tracker/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix stop management
  src/components/Tracker/Tracker.js
  src/components/Tracker/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix next speed display
  src/components/TrackerControl/TrackerControl.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Adding .travis.yml.
  .travis.yml
Due: none

Add doc 1st commit
  doc/README.md
  doc/build/assets/bundle/main.css
  doc/build/assets/bundle/main.js
  doc/build/assets/favicon/favicon.png
  doc/build/assets/js/anchor.js
  doc/build/assets/js/site.js
  doc/build/assets/js/split.js
  doc/build/assets/styles/bass.css
  doc/build/assets/styles/github.css
  doc/build/assets/styles/split.css
  doc/build/assets/styles/style.css
  doc/build/build/bundle.05827496.js
  doc/build/docjs.html
  doc/build/index.html
  doc/doc-config.json
  netlify.toml
  package.json
  scripts/doc.js
  scripts/prepare-doc.sh
  src/styleguidist/ComponentsList.js
  src/styleguidist/StyleGuide.js
  src/styleguidist/styleguidist.css
  styleguide.config.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Add title to readme
  README.md
Due: none

Add gitignore
  .gitignore
Due: none

Initial commit to add doc
  .gitignore
  README.md
  doc/README.md
  doc/doc-config.json
  netlify.toml
  package.json
  scripts/doc.js
  scripts/prepare-doc.sh
  src/styleguidist/ComponentsList.js
  src/styleguidist/StyleGuide.js
  src/styleguidist/styleguidist.css
  styleguide.config.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Fix map style in styleguide doc
  src/styleguidist/styleguidist.css
Due: stylelint --fix

Add fps depending on zoom level
  src/components/Tracker/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Use multiple time intervals (#3)
  src/components/Tracker/Tracker.js
  src/components/Tracker/TrackerLayer.js
  src/components/TrackerControl/TrackerControl.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Initial commit to add doc (#2)
  .gitignore
  README.md
  doc/README.md
  doc/doc-config.json
  netlify.toml
  package.json
  scripts/doc.js
  scripts/prepare-doc.sh
  src/styleguidist/ComponentsList.js
  src/styleguidist/StyleGuide.js
  src/styleguidist/styleguidist.css
  styleguide.config.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Use mapbox for the TrackerLayer
  package.json
  src/App.js
  src/components/Tracker/Tracker.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Last master
  src/App.js
  src/components/Tracker/Tracker.js
  src/components/Tracker/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Last master
  src/components/Tracker/TrackerMapboxSource.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Initial commit for RouteScheduler Component
  src/App.js
  src/App.scss
  src/Globals.scss
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.scss
  src/components/RouteSchedule/index.js
  src/components/Tracker/Tracker.js
  src/components/Tracker/TrackerLayer.js
  src/images/RouteSchedule/firstStation.png
  src/images/RouteSchedule/lastStation.png
  src/images/RouteSchedule/line.png
  src/images/RouteSchedule/station.png
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Add better style for examples handling. Stylegudist example for RouteSchedule and basic snapshot test.
  src/App.js
  src/App.scss
  src/Globals.scss
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.md.scss
  src/components/RouteSchedule/RouteSchedule.scss
  src/components/RouteSchedule/RouteSchedule.test.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  src/components/Tracker/README.md
  src/themes/README.md
  src/themes/default/components.scss
  src/themes/default/examples.scss
  src/themes/default/index.scss
  src/themes/default/variables.scss
  styleguide.config.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Set overflow for routeSchedule dialog
  src/components/RouteSchedule/RouteSchedule.scss
Due: stylelint --fix

Set color for routeSchedule based on vehicule types as fallback
  src/components/RouteSchedule/RouteSchedule.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

use the new service
  src/components/Tracker/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add TrajservLayer, inheritig from TrackerLayer. Translate trajserv response into redable object
  src/App.js
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.test.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  src/components/RouteSchedule/test.json
  src/layers/README.md
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
  styleguide.config.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Remove test.json..
  src/components/RouteSchedule/test.json
Due: none

Fordibe to define unprecise object proptypes
  .eslintrc.json
  src/components/Clock/Clock.js
  src/components/LocalClock/LocalClock.js
  src/components/RouteSchedule/RouteSchedule.js
  src/styleguidist/ComponentsList.js
  src/styleguidist/StyleGuide.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Remove render function from default props
  src/components/RouteSchedule/RouteSchedule.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

TrajserLayer - Allow filtering on train name and operator name
  package.json
  src/App.js
  src/layers/README.md
  src/layers/Tracker.js
  src/layers/TrajservLayer.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Allow to pass one filter only
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Lint renderHeader fct
  src/components/RouteSchedule/RouteSchedule.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix request acccording to new endpoint
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix request acccording to new endpoint (#6)
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Allow publish as component-library, complete package.json with MIT license
  LICENSE
  package.json
Due: none

Publish scripts in package.json
  package.json
Due: none

Move deps to dev, delete unused
  package.json
  yarn.lock
Due: none

Changes in package.json for loading in trafimage-maps
  package.json
  yarn.lock
Due: none
