Repository geops/react-transit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

v0.1.1-beta.16
  package.json
Due: none

Remove old file
  src/layers/TrajservLayerOld.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix adding/removing events
  package.json
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrackerLayer.test.js
  src/layers/TrajservLayer.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update src/layers/Tracker.js
  src/layers/Tracker.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Clean Tracker layers (#76)
  package.json
  src/components/RouteSchedule/RouteSchedule.js
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrackerLayer.test.js
  src/layers/TrajservLayer.js
  src/layers/TrajservLayerOld.js
  src/utils/TimeUtils.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.17
  package.json
Due: none

Improve documentation (#73)
  src/components/RouteSchedule/RouteSchedule.js
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.18
  package.json
Due: none

Use new filter/follow icon and style with css
  src/components/FilterButton/FilterButton.js
  src/components/FilterButton/FilterButton.scss
  src/components/FilterButton/__snapshots__/FilterButton.test.js.snap
  src/components/FollowButton/FollowButton.js
  src/components/FollowButton/FollowButton.scss
  src/components/FollowButton/__snapshots__/FollowButton.test.js.snap
  src/images/FilterButton/filter.svg
  src/images/FilterButton/filterActive.svg
  src/images/FilterButton/filterInactive.svg
  src/images/FollowButton/centerActive.svg
  src/images/FollowButton/centerInactive.svg
  src/images/FollowButton/follow.svg
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Manage json parsing failure
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Remove line when getTrajectoryById fail
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Use the complet multiline geometry
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Use the complete multilinestring
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Initial commit for the StationFinder component
  src/components/StationFinder/README.md
  src/components/StationFinder/StationFinder.js
  src/components/StationFinder/StationFinder.md.scss
  src/components/StationFinder/StationFinder.scss
  src/components/StationFinder/index.js
  src/themes/default/examples.scss
  styleguide.config.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Remove unnecessary css from StationFinder
  src/components/StationFinder/StationFinder.scss
Due: stylelint --fix

Rename two StationFinder's props to be more generic
  src/components/StationFinder/README.md
  src/components/StationFinder/StationFinder.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Initial commit for the StationFinder component (#82)
  src/components/StationFinder/README.md
  src/components/StationFinder/StationFinder.js
  src/components/StationFinder/StationFinder.md.scss
  src/components/StationFinder/StationFinder.scss
  src/components/StationFinder/index.js
  src/themes/default/examples.scss
  styleguide.config.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Highlight a gemetry not a list of coordinates (#81)
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Change font to Arial for StationFinder
  src/components/StationFinder/StationFinder.scss
Due: stylelint --fix

Add tracker filter button (#40)
  package.json
  src/components/FilterButton/FilterButton.js
  src/components/FilterButton/FilterButton.scss
  src/components/FilterButton/FilterButton.test.js
  src/components/FilterButton/__snapshots__/FilterButton.test.js.snap
  src/components/FilterButton/index.js
  src/components/FollowButton/FollowButton.js
  src/components/FollowButton/FollowButton.scss
  src/components/FollowButton/FollowButton.test.js
  src/components/FollowButton/__snapshots__/FollowButton.test.js.snap
  src/components/FollowButton/index.js
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.md.scss
  src/components/RouteSchedule/RouteSchedule.scss
  src/components/RouteSchedule/RouteSchedule.test.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  src/images/FilterButton/filter.svg
  src/images/FollowButton/follow.svg
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
  src/propTypes.js
  src/themes/default/components.scss
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Rename component to StopFinder and change some style details
  src/components/StationFinder/index.js
  src/components/StopFinder/README.md
  src/components/StopFinder/StopFinder.js
  src/components/StopFinder/StopFinder.md.scss
  src/components/StopFinder/StopFinder.scss
  src/components/StopFinder/index.js
  src/themes/default/examples.scss
  styleguide.config.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

StopFinder, smaller clear button as search
  src/components/StopFinder/StopFinder.scss
Due: stylelint --fix

Rename component to StopFinder and change some style details (#84)
  src/components/StationFinder/index.js
  src/components/StopFinder/README.md
  src/components/StopFinder/StopFinder.js
  src/components/StopFinder/StopFinder.md.scss
  src/components/StopFinder/StopFinder.scss
  src/components/StopFinder/index.js
  src/themes/default/examples.scss
  styleguide.config.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Harmonize infos with tralis
  package.json
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.test.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
  src/propTypes.js
  src/utils/TimeUtils.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix test
  package.json
  src/components/RouteSchedule/RouteSchedule.test.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Harmonize infos with tralis (#85)
  package.json
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.test.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
  src/propTypes.js
  src/utils/TimeUtils.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.19
  package.json
Due: none

Make the RouteSchedule component a bit more readable
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.md.scss
  src/components/RouteSchedule/RouteSchedule.scss
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  src/propTypes.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Pas more options to custom render function
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.scss
  src/propTypes.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Pass more option to render function + cleaning (#86)
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.md.scss
  src/components/RouteSchedule/RouteSchedule.scss
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  src/propTypes.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

v0.1.1-beta.20
  package.json
Due: none

Add type and add stations to render of station image
  src/components/RouteSchedule/RouteSchedule.js
  src/propTypes.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.21
  package.json
Due: none

Add proptype for train state
  src/propTypes.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.22
  package.json
Due: none

Ensure that css such as fonts and width are not defined in the component itself
  src/components/StopFinder/StopFinder.md.scss
  src/components/StopFinder/StopFinder.scss
Due: stylelint --fix

Ensure that css such as fonts and width are not defined in the component itself (#93)
  src/components/StopFinder/StopFinder.md.scss
  src/components/StopFinder/StopFinder.scss
Due: stylelint --fix

Use exact sanme size as in the list
  src/components/StopFinder/StopFinder.md.scss
Due: stylelint --fix

v0.1.1-beta.23
  package.json
Due: none

Pass station object and not only coordinates onSelect StopFinder
  src/components/StopFinder/README.md
  src/components/StopFinder/StopFinder.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Path conditions:
  eslint --fix: any of: src/**/*.js
  prettier --write: any of: src/**/*.js
  yarn test --bail --findRelatedTests: any of: src/**/*.js
  stylelint --fix: any of: src/**/*.{css,scss}
