Repository geops/react-transit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Add comments for documentation and cleanup code.
  src/components/Search/Search.js
  src/components/Search/SearchService.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Use fromLonLat to transform coordinates.
  src/components/Search/README.md
Due: none

Improve IE11 support for search component.
  src/components/Search/Search.scss
Due: stylelint --fix

Add basic style for search example.
  src/components/Search/Search.md.scss
  src/themes/default/examples.scss
Due: stylelint --fix

Add links to react-autosuggest in doc comments.
  src/components/Search/Search.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Search component (#141)
  package.json
  src/components/Search/README.md
  src/components/Search/Search.js
  src/components/Search/Search.md.scss
  src/components/Search/Search.scss
  src/components/Search/Search.test.js
  src/components/Search/SearchService.js
  src/components/Search/__snapshots__/Search.test.js.snap
  src/components/Search/engines/Engine.js
  src/components/Search/engines/StopFinder.js
  src/components/Search/index.js
  src/components/StopFinder/StopFinder.js
  src/components/StopFinder/StopFinder.md.scss
  src/components/StopFinder/StopFinder.scss
  src/components/StopFinder/index.js
  src/themes/default/components.scss
  src/themes/default/examples.scss
  styleguide.config.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

[ImgBot] Optimize images
  src/images/FilterButton/filter.svg
  src/images/FollowButton/follow.svg
  src/logo.svg
Due: none

v0.2.0-beta.1
  package.json
Due: none

Request the apiKey before rendering the doc
  src/components/TrackerControl/README.md
  src/styleguidist/StyleGuide.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Use window variable
  src/components/RouteSchedule/README.md
  src/components/Search/README.md
  src/components/TrackerControl/README.md
Due: none

Fix eslint warn
  src/styleguidist/StyleGuide.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fetch apiKey before rendering the doc (#166)
  src/components/RouteSchedule/README.md
  src/components/Search/README.md
  src/components/TrackerControl/README.md
  src/styleguidist/StyleGuide.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add standard apiKey message in examples.
  src/components/RouteSchedule/README.md
  src/components/Search/README.md
  src/components/TrackerControl/README.md
Due: none

Add standard apiKey message in examples. (#172)
  src/components/RouteSchedule/README.md
  src/components/Search/README.md
  src/components/TrackerControl/README.md
Due: none

Better display of the apiKey message in examples.
  src/components/Search/README.md
  src/components/TrackerControl/README.md
Due: none

Update README.md
  src/components/TrackerControl/README.md
Due: none

Update README.md
  src/components/Search/README.md
Due: none

Update README.md
  src/components/RouteSchedule/README.md
Due: none

hint apikey only in code (#179)
  src/components/RouteSchedule/README.md
  src/components/Search/README.md
  src/components/TrackerControl/README.md
Due: none

Fix style if api uses type 'Subway'
  src/config/tracker.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix 'onSuggestionsFetchRequested', items list not undefined, and add prop 'shouldRenderSuggestions'
  src/components/Search/Search.js
  src/components/Search/engines/Engine.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

REmove forgotten console.log
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update src/components/Search/Search.js
  src/components/Search/Search.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Small fix for readability
  src/components/Search/Search.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Create 'getTypeIndex' helper function
  src/config/tracker.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Simplify 'getTypeIndex'
  src/config/tracker.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.2.0-beta.2
  package.json
Due: none

Switch classnames to rt-search__..
  src/components/Search/Search.js
  src/components/Search/Search.scss
  src/components/Search/__snapshots__/Search.test.js.snap
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Add className prop to Search
  src/components/Search/Search.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

useMemo for Search theme
  src/components/Search/Search.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.2.0-beta.3
  package.json
Due: none

added options parameter to StopFinder, which are converted to a string of URL query parameters
  src/components/Search/engines/StopFinder.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

reviewed code
  src/components/Search/engines/StopFinder.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.2.0-beta.4
  package.json
Due: none

Remove travis add actions
  .github/workflows/main.yml
  .travis.yml
  README.md
Due: none

Remove travis add actions (#236)
  .github/workflows/main.yml
  .travis.yml
  README.md
Due: none

Fix lint
  src/components/Search/Search.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add link2 target
  package.json
Due: none

Add link2 target
  package.json
  scripts/read-pkg-json.js
  yarn.lock
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.js
  prettier --write: any of: src/**/*.js
  yarn test --bail --findRelatedTests: any of: src/**/*.js
  stylelint --fix: any of: src/**/*.{css,scss}
