Repository geops/react-transit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

.lintstagedrc.json:

{
  "src/**/*.js": [
    "eslint --fix",
    "prettier --write",
    "git add",
    "yarn test --bail --findRelatedTests"
  ],
  "src/**/*.{css,scss}": ["stylelint --fix", "git add"]
}

Change tracker control style. Add reset date button
  babel.config.js
  package.json
  src/components/TrackerControl/README.md
  src/components/TrackerControl/TrackerControl.js
  src/components/TrackerControl/TrackerControl.scss
  src/components/TrackerControl/TrackerControl.test.js
  src/components/TrackerControl/__snapshots__/TrackerControl.test.js.snap
  src/themes/default/components.scss
  src/themes/default/variables.scss
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Highlight with red line for White trajectory
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Highlight trajectories with grey color for punctuality layer (#27)
  src/config/tracker.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix routeSchedule default style
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.test.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  src/components/TrackerControl/TrackerControl.scss
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

More fixes routeSchedule default style
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.test.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Handle 1st and last station bold in css
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.scss
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Fix examples
  .gitignore
  babel.config.js
  package.json
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.md.scss
  src/layers/README.md
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
  src/layers/TrajservLayer.test.js
  styleguide.config.js
  yarn.lock
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Improve tracker control (#28)
  babel.config.js
  package.json
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.scss
  src/components/RouteSchedule/RouteSchedule.test.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  src/components/TrackerControl/README.md
  src/components/TrackerControl/TrackerControl.js
  src/components/TrackerControl/TrackerControl.scss
  src/components/TrackerControl/TrackerControl.test.js
  src/components/TrackerControl/__snapshots__/TrackerControl.test.js.snap
  src/layers/TrajservLayer.js
  src/themes/default/components.scss
  src/themes/default/variables.scss
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

gitignore
  .gitignore
Due: none

Improve examaples
  src/layers/README.md
  styleguide.config.js
Due: none

Remove comments
  src/layers/TrajservLayer.test.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.7
  package.json
Due: none

Greying out already passed stations
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.scss
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Use current time from trackerLayer for passed stations
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.test.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Add route filter for TrajservLayer and document it in readmen
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.test.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  src/layers/README.md
  src/layers/TrajservLayer.js
  styleguide.config.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Ease routeid retrieve
  src/components/RouteSchedule/RouteSchedule.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

No need of condition for routeidentifier
  src/components/RouteSchedule/RouteSchedule.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update src/components/RouteSchedule/RouteSchedule.scss
  src/components/RouteSchedule/RouteSchedule.scss
Due: stylelint --fix

Greying out already passed stations (#30)
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.scss
  src/components/RouteSchedule/RouteSchedule.test.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  src/layers/README.md
  src/layers/TrajservLayer.js
  styleguide.config.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

v0.1.1-beta.8
  package.json
Due: none

Return route identifier, without leading slash, only if it isn't already present in the longName
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Highlight selected point, and deselection when clicks on the map
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Return route identifier, without leading slash, only if it isn't alre… (#31)
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.9
  package.json
Due: none

Optimize rerender of the trajectories
  src/config/tracker.js
  src/layers/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Make trip and line exact matching filter, keep lineRegex as optional filter
  src/layers/README.md
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Improve navigations
  src/layers/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Render OnStart
  src/layers/TrackerLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Fix typo
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Make trip and line exact matching filter, keep lineRegex as optional … (#32)
  src/layers/README.md
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.10
  package.json
Due: none

Set TrajservLayer filters case insensitive
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Update readme
  src/layers/README.md
Due: none

Change case for option filter trajservLayer
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

Set TrajservLayer filters case insensitive (#34)
  src/layers/README.md
  src/layers/TrajservLayer.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests

v0.1.1-beta.11
  package.json
Due: none

Init tracker filter button
  src/components/FilterButton/FilterButton.js
  src/components/FilterButton/FilterButton.scss
  src/components/FilterButton/index.js
  src/images/FilterButton/filterActive.png
  src/images/FilterButton/filterInactive.png
  src/themes/default/components.scss
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Integrate tracker filter button in RouteSchedule
  src/components/FilterButton/FilterButton.scss
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/__snapshots__/RouteSchedule.test.js.snap
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix

Adapt documentation, to be more complete, similar to react-spatial, fix layer doc.
  DEVELOP.md
  README.md
  src/components/README.md
  src/components/RouteSchedule/README.md
  src/components/RouteSchedule/RouteSchedule.js
  src/components/RouteSchedule/RouteSchedule.md.scss
  src/components/TrackerControl/README.md
  src/components/TrackerControl/TrackerControl.js
  src/layers/README.md
  src/layers/Tracker.js
  src/layers/TrackerLayer.js
  src/layers/TrajservLayer.js
  src/layers/TrajservLayerOld.js
  src/themes/README.md
  src/themes/default/examples.scss
  src/themes/default/index.scss
  styleguide.config.js
Due: eslint --fix, prettier --write, yarn test --bail --findRelatedTests, stylelint --fix
